## .NET
bin/
obj/
*.user
*.suo
*.vs/
*.db
*.db-shm
*.db-wal

## IDE
.idea/
.vscode/
*.swp
*.sln.docstates

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

## OS
Thumbs.db
.DS_Store
